body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
background-color:#4A3728;
}
.container{
    
    width: 1450px;
    height: 700px;
        background:  #f6a6fd;
        display: flex;
        padding: 60px 40px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
}
.dialogue{
    font-family: dialogue;
    text-align: center;
}
.back a{
    position: absolute;
    top:100px;
    left: 12%;
    font-size: 25px;
    font-family: genshin;
    text-decoration: none;
   color: #4A3728;
}
@font-face {
    font-family:genshin;
    src: url(zh-cn.ttf);
}
@font-face {
    font-family:dialogue;
    src: url(CookieRunRegular.otf);
}
.rectangle{
    border-radius: 12px;
    display: flex;
    position: absolute;
    top:570px;
    height:300px;
    width:1470px;
    background-color:  rgb(48, 4, 52);
}
#forwardbutton {
    font-family:arial;
    font-size: 37px;
    color: aliceblue;
    position: absolute;
    top:825px;
    left: 1650px;
    font-weight: bold;
    text-decoration: none;
}
#forwardbutton a {
    font-family:arial;
    font-size: 37px;
    color: aliceblue;
    text-decoration: none;
}

#narative{
    font-size:33px;
    position: absolute;
    top:15px ;
    left: 40px;
    color: aliceblue;
    font-family: dialogue;
    padding-left:3%;
    padding-right:3%;
}